#welcome {
  font-size: 4rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  display: flex;
  background-color: #1e90ff;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#about-us {
  margin-top: 200px;
  text-align: center;
  font-size: 2rem;
}
.headline {
  text-align: center;
  font-size: 1.5em;
}
.description {
  font-size: 1.1em;
  padding: 10px 20px;
  text-align: justify;
}
em {
  font-weight: bold;
}
#our-commitment {
  text-align: center;
  font-size: 1.5em;
}
.commitment-list {
  text-align: center;
  font-size: 1.5em;
  list-style: none;
}
