.navbar-container {
  display: flex;
  justify-content: center;
  background-color: #1e90ff;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.nav-menu {
  display: flex;
  gap: 6rem;
  font-size: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}
.nav-links:hover {
  color: white;
}
